In [10]:
import pandas as pd

In [11]:

import pandas as pd

file_csv="https://raw.githubusercontent.com/geekcourses/ML_SA_Labs/1_ML_SA/Lab17/datasets/drinks.csv"
df= pd.read_csv(file_csv)
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### task 2

In [13]:
df.shape

(193, 6)

## task1

In [14]:
df.loc[0:9,:]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU

## task4

In [15]:
df_new= df.set_index('country')
df_new.loc['Bulgaria',:]
df_new.loc['Bulgaria','beer_servings':'wine_servings']

beer_servings      231
spirit_servings    252
wine_servings       94
Name: Bulgaria, dtype: object

In [16]:
idx = df.wine_servings.idxmax()
print(f'Row index with max wine_servings: {idx}')
print(f'Country with max wine_servings: {df.loc[idx,"country"]}')

Row index with max wine_servings: 61
Country with max wine_servings: France

In [17]:
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

##  task6

In [18]:
idx = df.wine_servings.idxmax()
print(f'Row index with max wine_servings: {idx}')
print(f'Country with max wine_servings: {df.loc[idx,"country"]}')
print(f'Country with max wine_servings: {df.loc[idx,["country","continent"]]}')

Row index with max wine_servings: 61
Country with max wine_servings: France
Country with max wine_servings: country      France
continent        EU
Name: 61, dtype: object

## task 7

In [19]:
idx_beer= df.beer_servings.idxmax()
print(f'Row index with max beer_servings: {idx_beer}')
print(f'Country with max beer_servings: {df.loc[idx_beer,"country"]}')
print(f'Country with max beer_servings: {df.loc[idx_beer,["country","continent"]]}')

Row index with max beer_servings: 117
Country with max beer_servings: Namibia
Country with max beer_servings: country      Namibia
continent         AF
Name: 117, dtype: object

## task8

In [20]:
print ( df . isnull () . sum ())

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

In [23]:
beer_servings_new=['beer_servings']
country_n=['country']
df.loc[:,beer_servings_new]
beer_servings_new
country_n

['country']