In [1]:
import pandas as pd

In [3]:
df=pd.DataFrame({
    'A':[2,3,4],
    'B':[9,3,2]
})
df

   A  B
0  2  9
1  3  3
2  4  2

In [5]:
df.A%2

0    0
1    1
2    0
Name: A, dtype: int64

In [9]:
df.A([true, folse, true])

NameError: name 'true' is not defined

In [12]:
mask=df.A%2==0
print(mask)

0     True
1    False
2     True
Name: A, dtype: bool