In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
	"user":['Maria', 'Pesho', 'Ivan'],
	"age":[10, 20, 50]
})
df

    user  age
0  Maria   10
1  Pesho   20
2   Ivan   50

df[colname] - get column

In [4]:
df['user']

df.loc[:, 'user']

df.user

0    Maria
1    Pesho
2     Ivan
Name: user, dtype: object

df[slice] - get rows

In [5]:
df[1:]

    user  age
1  Pesho   20
2   Ivan   50

In [6]:
df.loc[1:, 'user']

1    Pesho
2     Ivan
Name: user, dtype: object