In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({
	'name': ['Ivan', 'Pehso', 'Maria', 'Asen'],
	'age': [50, 30, 40, 90 ]
})
data

    name  age
0   Ivan   50
1  Pehso   30
2  Maria   40
3   Asen   90

In [3]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
data.columns

Index(['name', 'age'], dtype='object')

In [5]:
data.shape

(4, 2)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   age     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [7]:
data.age

0    50
1    30
2    40
3    90
Name: age, dtype: int64

In [8]:
mean = (20+30+30+50+60)/5
mean

38.0

In [9]:
data.describe()

             age
count   4.000000
mean   52.500000
std    26.299556
min    30.000000
25%    37.500000
50%    45.000000
75%    60.000000
max    90.000000

In [10]:
print(list(data.age))

[50, 30, 40, 90]

In [11]:
data.age.mean()

52.5

In [12]:
# TODO: why 45, not 35
data.age.median()

45.0