In [9]:
import pandas as pd

In [10]:
eu_weather_df=pd.DataFrame({
    "town": ["Atina", "Oslo", "London"],
    "temp":[35,21,25],
    "rain": [False, False, True ]
})
eu_weather_df

     town  temp   rain
0   Atina    35  False
1    Oslo    21  False
2  London    25   True